@import '../../common/css/reset.css';
@import '../../common/css/animation.css';

@mixin setEle($l:0rem,$t:0rem,$w:0rem,$h:0rem){
	position: absolute;
	left: $l;
	top: $t;
	width: $w;
	height: $h;
}
.container{
	background-image: url(../image/defaultBg.jpg);
}
.desc-visi{
	    visibility: hidden;
}
.tg{
	z-index: 999;
}
.title{
	height: 1.3rem;
	margin-top: .23rem;
}
.stu{
	width: 100%;
	height: 100%
}
.tea{
	width: 100%;
	height: 100%
}
.dis-area{
	width: 100%;
	height: 2.6rem;
	margin-top: .8rem;
	display: flex;
	justify-content: center;
    align-items: center;
    .avaList{
		width: 2.2rem;
	    height: 2.2rem;
	    background: #fff;
	    background-size: 100% 100%;
	    border: .1rem solid transparent;
	    border-radius: .8rem;
	    box-shadow: 0 0.32rem 0.38rem 0 rgba(0,0,0,.15);
	    cursor: pointer;
    	margin: 0 0.25rem;
    	position: relative;
    	.avaCon{
    		width: 100%;
    		height: 100%;
		    border-radius: .8rem;
		    overflow: hidden;
    	}
    	.stuAva{
    		width: 100%;
		    height: 80%;
		    background: red;
		    overflow: hidden;
		    img{
		    	width: 100%;
		    	height: 100%;
		    }
    	}
    	.stuName{
    		width: 100%;
    		height: 20%;
    		background: #fff;
    		p{
    			width: 100%;
    			height: 100%;
    			font-size: .24rem;
    			font-weight: 600;
    			color: #55a000;
    			line-height: .5rem;
    			text-align: center;
    		}
    	}
    	.stuHat{
    		width: 1.5rem;
		    height: 1.5rem;
		    position: absolute;
		    left: 50%;
		    top: -40%;
		    transform: translateX(-50%);
		    img{
		    	width: 100%;
		    	height: 100%
		    }
    	}
    }
}	
.sele-area{
	@extend .dis-area;
	margin-top: .7rem;
	.bodyList{
		@extend .avaList;
		overflow: hidden;
		img{
			width: 100%;
			height: 100%;
		}
	}
}
.btn-area{
	width: 100%;
	height: .9rem;
	margin-top: .6rem;
	display: flex;
	justify-content: center;
	.btn{
		display: block;
	    width: 3.14rem;
	    height: .74rem;
	    background: #cdcdcd;
	    border-radius: .74rem;
	    border: .08rem #fff solid;
	    font-size: .48rem;
	    font-weight: 600;
	    text-align: center;
	    line-height: .74rem;
	    color: #fff;
	    cursor: pointer;
	}    
}
.allowSub{
	background: #59a500!important;
}