<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>from-style</title>
	<link rel="stylesheet" href="./form/css/style.css?v=<%=new Date().getTime()%>">
	<script src='./form/js/jquery-2.1.0.js'></script>
	<script src='./form/js/vue.min.js'></script>
</head>
<body>
	<div id="container">

		<div class="edit-form">
			<div class="module-title">炸弹：</div>
			<!-- 背景/描述 -->
			<div class="c-group">
				<div class="c-title">背景/描述</div>
				<!-- 上传图片，可选择为正确答案 -->
				<div class="c-area upload img-upload radio-group">
					<div class="field-wrap">
						<label class="field-label"  for="">上传背景</label>
						<span class='txt-info'><em>尺寸：1920X1080。文件大小≤100KB</em></span>
						<input type="file"  v-bind:key="Date.now()" class="btn-file" id="bg" size="1920*1080" v-on:change="imageUpload($event,configData,'bg',100)">
					</div>
					<div class="field-wrap">
						<label for="bg" class="btn btn-show upload" v-if="!configData.bg">上传</label>
						<label  for="bg" class="btn upload re-upload" v-if="configData.bg">重新上传</label>
					</div>
					<div class="img-preview" v-if="configData.bg">
						<img v-bind:src="configData.bg" alt=""/>
						<div class="img-tools">
							<span class="btn btn-delete" v-on:click="configData.bg=''">删除</span>
						</div>
					</div>
				</div>
				<!-- 描述 -->
				<div class="c-area">
					<label>描述 （显示位置：1）</label>
					<input type="text" class='c-input-txt' placeholder="请在此输入描述" v-model="configData.desc">
				</div>
			</div>

			<!-- TG -->
			<div class="c-group">
				<div class="c-title">添加TG</div>
				<div class="c-area">
					<div class="c-well" v-for="(item,index) in configData.tg">
						<div class="well-title">
							<p>TG {{index+1}}</p>
							<span class="dele-tg-btn" v-on:click="deleTg(item)" v-show="configData.tg.length>1"></span>
						</div>
						<div class="well-con">
							<label>标题</label>
							<input type="text" class='c-input-txt' placeholder="请在此输入TG标题" v-model="item.title">
							<label>内容 <em>&nbsp;&nbsp;需换行位置输入“&lt;br&gt;”符号</em></label>
							<textarea name="" cols="56" rows="2" placeholder="请在此输入TG内容" v-model="item.content"></textarea>
						</div>
					</div>
					<button type="button" class="add-tg-btn" v-on:click="addTg" >+</button>
				</div>
			</div>

			<!-- 编辑问题 -->
			<div class="c-group">
				<div class="c-title">编辑问题</div>
				<div class="c-area upload img-upload">
					<div class="c-well">
						<!-- <div class="c-area-title">问题区域</div> -->
						<label>问题（显示位置：2）<em>字符：≤60</em></label>
						<input type="text" class='c-input-txt' placeholder="请在此输入问题" v-model="configData.source.title" maxlength="60">

						<div class="field-wrap">
							<label class="field-label"  for="">图片</label>
							<span class='txt-info'>（显示位置：3）<em>* 尺寸：500x500 大小≤50KB</em></span>
							<input type="file"  v-bind:key="Date.now()" class="btn-file" id="content-pic" size="500*500" v-on:change="imageUpload($event,configData.source,'themePic',50)">
						</div>
						<div class="field-wrap">
							<label for="content-pic" class="btn btn-show upload" v-if="!configData.source.themePic">上传</label>
							<label  for="content-pic" class="btn upload re-upload" v-if="configData.source.themePic">重新上传</label>
						</div>
						<div class="img-preview" v-if="configData.source.themePic">
							<img v-bind:src="configData.source.themePic" alt=""/>
							<div class="img-tools">
								<span class="btn btn-delete" v-on:click="configData.source.themePic=''">删除</span>
							</div>
						</div>
					
						<!-- 上传声音 -->
						<div class="field-wrap">
							<label class="field-label"  for="">声音</label>
							<span class='txt-info'>（显示位置：3）<em>* 大小≤50KB</em></span>
							<div>
								<label for="audio-upload" class="btn btn-show upload" v-if="!configData.source.audio">上传</label>
								<label  for="audio-upload" class="btn upload re-upload mar" v-if="configData.source.audio">重新上传</label>
							</div>
							<div class="audio-preview" v-show="configData.source.audio">
								<div class="audio-tools">
									<p>{{configData.source.audio}}</p>
								</div>
								<span class="play-btn" v-on:click="play($event)">
									<audio v-bind:src="configData.source.audio"></audio>
								</span>
							</div>
							<span class="btn btn-audio-dele" v-show="configData.source.audio" v-on:click="configData.source.audio=''">删除</span>
							
							<input type="file" id='audio-upload' class="btn-file upload" size="" accept=".mp3" v-on:change="audioUpload($event,configData.source,'audio',50)" v-bind:key="Date.now()">
						</div>
					</div>
					
				</div>
			</div>

			<div class="c-group">
				<div class="c-title">编辑内容</div>
				<div class="c-area upload img-upload">
					<div class="c-well">
						<label>倒计时<em> * 只允许输入1~99之间的正整数；单位：s</em></label>
						<input type="number" class='c-input-txt' placeholder="通过上下键选择时间" v-model="configData.source.time" min="1" max="99" >

						<div class="field-wrap">
							<label class="field-label"  for="">炸弹音效</label>
							<span class='txt-info'><em>大小：≤50KB</em></span>
							<div>
								<label for="bomb-upload" class="btn btn-show upload" v-if="!configData.source.bomb">上传</label>
								<label  for="bomb-upload" class="btn upload re-upload mar" v-if="configData.source.bomb">重新上传</label>
							</div>
							<div class="audio-preview" v-show="configData.source.bomb">
								<div class="audio-tools">
									<p>{{configData.source.bomb}}</p>
								</div>
								<span class="play-btn" v-on:click="play($event)">
									<audio v-bind:src="configData.source.bomb"></audio>
								</span>
							</div>
							<span class="btn btn-audio-dele" v-show="configData.source.bomb" v-on:click="configData.source.bomb=''">删除</span>
							
							<input type="file" id='bomb-upload' class="btn-file upload" size="" accept=".mp3" v-on:change="audioUpload($event,configData.source,'bomb',50)" v-bind:key="Date.now()">
						</div>

					</div>
				</div>
			</div>

			<button class="send-btn" v-on:click="onSend">提交</button>
		</div>

		<div class="edit-show">
			<div class="show-fixed">
				<div class="show-img">
					<img src="./form/img/bg.jpg?v=<%=new Date().getTime()%>" alt="">
				</div>
				<ul class="show-txt">
					<li><em>图片大小：</em>≤200KB；<em>格式：</em>JPG/PNG/GIF</li>
					<li><em>声音大小：</em>≤100KB；<em>格式：</em>MP3/WAV</li>
					<li><em>视频大小：</em>≤700KB；<em>格式：</em>MP4</li>
					<li>带有“ * ”号为必填项</li>
				</ul>
			</div>
		</div>
	</div>
</body>
<script src='./form/js/form.js?v=<%=new Date().getTime()%>'></script>
</html>
